<app-header></app-header>
<div class="container col-md-9 main">
  <div class="row col-12" id="first-row-wrapper">
    <div class="cardImage col-8">
      <img class="col-12" [src]="event.coverPhoto" alt="Photo by event">
    </div>
    <div class="going-wrapper col-4">
      <button type="button" class="btn btn-primary go-button" [disabled]="user.blocked" (click)="goToEvent()" *ngIf="showButtonGo == false"><i class="far fa-check-circle"></i> Going</button>
      <button type="button" class="btn btn-primary go-button-not" [disabled]="user.blocked" (click)="notGoToEvent()" *ngIf="showButtonGo == true"><i class="far fa-times-circle"></i> Not Going</button>
      <p class="messageForDate" *ngIf="dateCondition==true">The date of event has expired.</p>
      <p class="numberOfArrivals">Confirmed Arrivals: <span style="color: gray">{{event.numberOfConfirmedArrivals}}</span></p>
      <a type="button" class="btn btn-primary showButton" [routerLink]="['/confirmed-users', eventID]">show all</a>
      <div class="like-wrapper">
        <button type="button" [disabled]="user.blocked || likeButton==true" class="btn btn-primary" (click)="like()"><i class="far fa-thumbs-up"></i></button>
        <p class="like">{{event.numberOfLike}}</p>
        <button type="button" [disabled]="user.blocked || dislikeButton==true" class="btn btn-primary" (click)="dislike()"><i class="far fa-thumbs-down"></i></button>
        <p class="like">{{event.numberOfDislike}}</p>
      </div>
      <p class="messageLikeEvent" *ngIf="buttonEventLikeMessage==true">You must be logged.</p>
      <div class="button-group" *ngIf="isLogged==true && role==true">
        <a type="button" class="editEvent" [routerLink]="['/edit-event', event.id]">Edit</a>
        <button
          class="deleteEvent"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="right"
          (confirm)="deleteEvent()"
          (cancel)="cancelClicked = true">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div id="title-wrapper">
    <p class="title">{{event.title}}</p>
    <p class="dateOfCreation">Published on <span>{{parseDate(event.dateOfCreation)}}</span></p>
  </div>
  <div class="row col-12" id="second-row-wrapper">
    <div class="col-6">
      <p class="textData">Instructor: <span class="resultData">{{event.instructor}}</span></p>
      <p class="textData">Start Date/Time: <span class="resultData">{{dateParse(event.date)}}</span></p>
    </div>
    <div class="col-6">
      <p class="textData">Institution: <span class="resultData">{{event.facultyDTO.name}}</span></p>
      <p class="textData">End Date/Time: <span class="resultData">{{dateParse(event.endTime)}}</span></p>
    </div>
    <div class="col-12">
      <p class="textData">Address: <span class="resultData">{{event.facultyDTO.address}} ({{event.facultyDTO.universityDTO.name}})</span></p>
    </div>
  </div>
  <div class="decription-wrapper">
    <p>#<span>{{event.description}}</span></p>
  </div>
  <div class="comment-wrapper col-12" *ngIf="commentForm == true">
    <div class="comment1 col-1">
      <img class="col-12" [src]="user.imageUrl" alt="Photo by user">
    </div>
    <div class="comment2 col-11">
      <input class="col-12" placeholder="Commenting publicly as {{user.username}}" [(ngModel)]="commentObject.content" name="content"><br>
      <button type="button" class="btn btn-primary" (click)="createComment()">Comment</button>
      <p class="message" *ngIf="messageAlert == true">The entered data is incorrect. Try again.</p>
      <p class="messageForBlocked" *ngIf="messageBlock == true">You are blocked.</p>
    </div>
  </div>
  <div>
    <p class="numberComment">{{numberOfComments}} Comment<span *ngIf="numberOfComments > 1">s</span></p>
  </div>
  <div class="comments-wrapper col-12" *ngFor="let comment of comments">
    <div class="userImage col-1">
      <img class="col-12" [src]="comment.userDTO.imageUrl" alt="Photo by user">
    </div>
    <div class="commentData col-10">
      <a class="usernameComment" href="#" [routerLink]="['/user', comment.userDTO.id]">{{comment.userDTO.username}}</a>
      <p class="dateComment">/ published: {{parseDate(comment.date)}}</p>
      <p class="contentComment col-12">{{comment.content}}</p>
      <div class="commentButton col-1" *ngIf="isLogged==true && user.id==comment.userDTO.id || role==true">
        <button type="button" class="btn btn-primary col-12 editB" [disabled]="user.blocked" name="{{comment.id}}" (click)="openEditForm($event)">Edit</button>
        <button type="button" class="btn btn-primary col-12 deleteB" [disabled]="user.blocked" name="{{comment.id}}" (click)="deleteComment($event)">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="row col-12 editComment" *ngIf="editFormComment==true">
  <div class="col-3"></div>
  <div class="editC col-6">
    <div class="title-div col-12">
        <p>Edit comment </p>
    </div>
    <div class="editFormComment col-12">
        <form #f="ngForm">
            <div class="form-group">
              <label for="inputContentComment">Content</label>
              <textarea class="form-control" id="inputContentComment" rows="3" [(ngModel)]="comment.content" name="content" required></textarea>
            </div>
            <button type="button" class="btn btn-success" (click)="clickSubmitComment()" [disabled]="!f.valid">Submit</button>
            <button type="button" class="btn btn-light" (click)="closeEditFormComment()">Cancel</button>
          </form>
    </div>
  </div>
  <div class="col-3"></div>
</div>
<app-footer></app-footer>
