.main {
    padding-top: 40px;
    padding-bottom: 40px;
}

#first-row-wrapper {
    height: 420px;  
}

.cardImage {
    padding: 0;
}

.cardImage > img {
    height: 410px;
    padding: 0;
}

.go-button {
    margin-top: 15px;
    background: #0d47a1;
    font-size: 33px;
    box-shadow: none;
}

.go-button:hover {
    color: #0d47a1;
    background: white;
}

.go-button-not {
    margin-top: 15px;
    background: gray;
    font-size: 33px;
    box-shadow: none;
    border-color: gray;
}

.go-button-not:hover {
    color: gray;
    background: white;
    border-color: gray;
}

.going-wrapper {
    text-align: center;
    padding-top: 50px;
}

.numberOfArrivals {
    padding-top: 20px;
}

.going-wrapper > .showButton {
    background: none;
    color: #333;
    border-color: #0d47a1;
    font-size: 14px;
    box-shadow: none;
}

.going-wrapper > .showButton:hover {
    color: #0d47a1;
}

.title {
    padding-top: 5px;
    font-size: 40px;
    color: #333;
    margin-bottom: 0;
}

.dateOfCreation {
    font-size: 15px;
    color: gray;
}

.like {
    display: inline-flex;
    margin: 3px;
    font-size: 18px;
}

.like-wrapper {
    padding-top: 40px;
}

.like-wrapper > button {
    border: none;
    background: none;
    color: #0d47a1;
    font-size: 30px;
    box-shadow: none;
}

.like-wrapper > button:hover {
    color: #333;
}

.messageLikeEvent {
    color: #CC0000;
    padding-top: 8px;
}

.button-group {
    padding-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 2px solid #0d47a1;
}

.button-group > .editEvent {
    font-size: 20px;
    border: 1px solid #0d47a1;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #0d47a1;
    text-decoration: none;
}

.button-group > .editEvent:hover {
    color: white;
    background: #0d47a1;
}

.button-group > .deleteEvent {
    font-size: 20px;
    border: 1px solid #0d47a1;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border-color: #CC0000;
    color: #CC0000;
    background: white;
}

.button-group > .deleteEvent:hover {
    color: white;
    background: #CC0000;
}

#title-wrapper {
    border-bottom: 2px solid #0d47a1;
}

#second-row-wrapper {
    padding-top: 30px;
}

#second-row-wrapper > div {
    padding: 0;
} 

.textData {
    color: #333;
    font-size: 20px;
}

.resultData {
    margin-left: 5px;
    font-size: 20px;color: gray;
}

.decription-wrapper {
    padding-top: 15px;
}

.decription-wrapper > p {
    font-size: 19px;
}

.comment-wrapper {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    border-top: 2px solid #0d47a1;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.comment-wrapper > .comment1 {
    padding-left: 5px;
    padding-right: 0;
}

.comment-wrapper > .comment1 > img {
    height: 85px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 50%;
}

.comment-wrapper > .comment2 {
    padding-right: 0;
    padding-top: 5px;
}

.comment-wrapper > .comment2 > input { 
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 0;
    padding-right: 0;
    color: #333;
}

.comment-wrapper > .comment2 > input:focus {
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 0 0 gray;
}

.comment-wrapper > .comment2 > button { 
    float: right;
    margin-top: 10px;
    background: #0d47a1;
}

.messageForDate {
    color: #CC0000;
    margin-bottom: 0;
}

.numberComment {
    margin-top: 20px;
}

/*-----------------------------------------------------*/

.comments-wrapper {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    padding-top: 30px;
    border-top: 1px solid gray;
    margin-bottom: 10px;
}

.comments-wrapper > .userImage {
    padding-left: 0;
    padding-right: 0;
}

.comments-wrapper > .userImage > img {
    height: 85px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 50%;
}

.comments-wrapper > .commentData {
    padding-right: 0;
}

.usernameComment {
    color: #0d47a1;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.usernameComment:hover {
    color: gray;
}

.dateComment {
    display: inline-flex;
    color: gray;
    margin-bottom: 0;
    padding-left: 5px;
    font-size: 13px;
}

.contentComment {
    padding-left: 0;
    padding-top: 1px;
    margin-bottom: 0;
}

.message {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
    padding-top: 15px;
    width: 300px;
}

.messageForBlocked {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
    padding-top: 15px;
    width: 130px;
}

.commentButton {
  margin-top: 5px;
  padding-left: 0;
  padding-right: 0;  
  display: inline-flex;
}

.editB {
    background: white;
    border-color: #0d47a1;
    color: #0d47a1;
    margin: 10px 10px 10px 10px;
}

.editB:hover {
    color: white;
    background: #0d47a1;
}

.deleteB {
    background: white;
    border-color: #CC0000;
    color: #CC0000;
    margin: 10px 10px 10px 10px;
}

.deleteB:hover {
    color: white;
    background: #CC0000;
}



/*----------------------------------------*/

.editComment {
    position: absolute;
    position: fixed;
    top: 220px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

}

.editC {
    background-color: #0d47a1;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.title-div > p {
    font-size: 30px;
    color: white;
    border-bottom: 2px solid white;
    padding-top: 5px;
}

.editFormComment {
    padding: 25px;
}

.editFormComment > form > .form-group > label {
    color: white;
}

.editFormComment > form > .form-group > textarea {
    border-color: #0d47a1;
    box-shadow: none;
}

.editFormComment > form > button {
    margin-right: 5px;
}

.popupGoing {
    color: #CC0000;
    padding-top: 2px;
}