.main {
    background-color: #0d47a1;  
}

.nav-wrapper {
    background-color: #0d47a1;
}

.nav {
    display: inline-flex;
}

.logo {
    display: inline-flex;
    font-size: 45px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #f5f5f5;
    text-shadow: 5px 5px 2px rgba(150, 150, 145, 0.52);
    cursor: pointer;
}

.nav > li > a {
    color: #f5f5f5;
    font-size: 20px;
}

.nav > li > a:hover {
    opacity: 0.9;
    border-bottom: 2px solid #f5f5f5;
}

.dropdown-menu > a:hover {
    color: #0d47a1;
    background: white;
}