<div class="container-fluid col-12 main">
    <div class="container-fluid col-md-10 nav-wrapper">
      <p class="logo col-4" (click)="loadHome()">universityEvents</p>
      <ul class="nav justify-content-end col-8">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/live" *ngIf="isLogged==true && loggedUser.blocked==false">Live</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/add-event" *ngIf="isLogged==true && role==true">Add Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login" *ngIf="isLogged==false">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/register" *ngIf="isLogged==false">Sign up</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLogged==true">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" [routerLink]="['/user', loggedUser.id]">My profile</a>
              <a class="dropdown-item" href="#" [routerLink]="['/user-event', loggedUser.id]">My events</a>
              <a class="dropdown-item" href="#" routerLink="/users" *ngIf="isLogged==true && role==true">All users</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" (click)="logout()">Log out</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
