<app-header></app-header>
<div class="container col-md-10 main">
    <div class="main-div" >
        <div style="margin-left: 21px;">
            <button id="buttonSS" (click)="controlLive()" *ngIf="role==true" type="button" class="btn btn-primary">START</button>
            <div id="status">
            The live stream has not started yet. 
            </div><span class="livePoint" *ngIf="lightC==true"><i class="fas fa-circle"></i></span>
            <p id="timee" *ngIf="lightC==true">{{parseDate(newTime)}}</p>
            <p class="logoo" *ngIf="lightC==false">universityEvents</p>
        </div>
        <div class="videoLive" style="text-align: center">
            <canvas #myCanvas width={{width}} height={{height}} style="display:inline-block" class="canV">       
            </canvas>
        </div>
    </div>
    <div id="second-data">
        <div id="title-wrapper">
            <p class="title">{{event.title}}</p>
            <p class="dateOfCreation">Published on <span>{{parseDate_v2(event.dateOfCreation)}}</span></p>
        </div>
        <div class="row col-12" id="second-row-wrapper">
            <div class="col-6">
                <p class="textData">Instructor: <span class="resultData">{{event.instructor}}</span></p>
                <p class="textData">Start Date/Time: <span class="resultData">{{dateParse(event.date)}}</span></p>
            </div>
            <div class="col-6">
                <p class="textData">Institution: <span class="resultData">{{event.facultyDTO.name}}</span></p>
                <p class="textData">End Date/Time: <span class="resultData">{{dateParse(event.endTime)}}</span></p>
            </div>
            <div class="col-12">
                <p class="textData">Address: <span class="resultData">{{event.facultyDTO.address}} ({{event.facultyDTO.universityDTO.name}})</span></p>
            </div>
        </div>
        <div class="decription-wrapper">
            <p>#<span>{{event.description}}</span></p>
        </div>
    </div>
</div>
<app-footer></app-footer>


