.main {
    padding-top: 10px;
    height: 65vmax;
}

.main-div {
    margin-top: 20px;
}

#buttonSS {
    position: absolute;
    margin-top: 540px;
    margin-left: 1100px;
}

#status {
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color: #CC0000;
    border-bottom: 1px solid gray;
    position: absolute;
    margin-top: 10px;
}

.videoLive {
    margin-top: 20px;
    padding-right: 0;
    padding-left: 0;
}

.canV {
    background-color: black;
}

.livePoint {
    animation: blinker 3s linear infinite;
    color: #CC0000;
    position: absolute;
    margin-top: 15px;
    margin-left: 415px;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .message {
    font-size: 45px;
    color: gray;
    text-align: center;
    padding-top: 50px;
}

#timee {
    position: absolute;
    margin-top: 12px;
    color: white;
    margin-left: 1100px;
}

.logoo {
    position: absolute;
    text-align: center;
    font-size: 100px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #f5f5f5;
    text-shadow: 5px 5px 2px rgba(150, 150, 145, 0.52);
    width: 95%;
    margin-top: 200px;
}

#second-data {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

#title-wrapper {
    border-bottom: 2px solid #0d47a1;
}

.title {
    padding-top: 5px;
    font-size: 40px;
    color: #333;
    margin-bottom: 0;
}

.dateOfCreation {
    font-size: 15px;
    color: gray;
}

#second-row-wrapper {
    padding-top: 30px;
}

#second-row-wrapper > div {
    padding: 0;
} 

.textData {
    color: #333;
    font-size: 20px;
}

.resultData {
    margin-left: 5px;
    font-size: 20px;color: gray;
}

.decription-wrapper {
    padding-top: 15px;
}

.decription-wrapper > p {
    font-size: 19px;
}