/* You can add global styles to this file, and also import other style files */
/* html,body{
    background-image: url("../src/assets/photos/o.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
} */