<app-header></app-header>
<div class="container col-md-9" style="padding-left: 0; padding-right: 0; display: flex;">
    <div class="col-6 search-box">
        <input class="col-11" type="text" [(ngModel)]="text" name="text" placeholder="Search ...">
        <button class="col-1" (click)="search()"><i class="fas fa-search"></i></button>
    </div>
    <button type="button" class="btn btn-success reload" *ngIf="reload==true" (click)="reloadAll()">Reload</button>
    <div class="col-6 sort-wrapper">
        <select class="form-control selectName" [(ngModel)]="orderBy" name="orderBy">
            <option value="title">Title</option>
            <option value="date">Date</option>
            <option value="number_of_confirmed_arrivals">Number of confirmed arrivals</option>
        </select>
        <select class="form-control selectBy" [(ngModel)]="orderCondition" name="orderCondition">
            <option value="ASC">Asc</option>
            <option value="DESC">Desc</option>
        </select>
        <button type="button" class="btn btn-primary" (click)="sort()">Sort <i class="fas fa-check"></i></button>
    </div>
</div>
<div class="container col-md-9 main">
    <div class="row card-wrapper col-12" *ngFor="let event of events">
        <div class="cardImage col-4">
            <img class="col-12" [src]="event.coverPhoto" alt="Photo by event">
        </div>
        <div class="cardData col-8">
            <a class="title" [routerLink]="['/event', event.id]">{{event.title}}</a>
            <p class="dateCreation">*Published on {{dateParse(event.dateOfCreation)}}</p>
            <p class="date">Date and time: {{parseDate(event.date)}}</p>
            <p class="address">{{event.facultyDTO.name}}</p>
            <p class="place">,{{event.facultyDTO.universityDTO.name}}</p>
            <p class="arrivals">Number of confirmed arrivals: {{event.numberOfConfirmedArrivals}}</p>
            <div class="goingDiv">
                <a class="go-button" [routerLink]="['/event', event.id]"><span>Show more</span></a>
            </div>
        </div>
    </div>
    <div class="row col-12 pagination">
        <a class="buttonPage" id="{{page}}" *ngFor="let page of sumPages" name="{{page}}" (click)="nextPage($event)">{{page+1}}</a>
    </div>
</div>
<app-footer></app-footer>