.main {
    padding: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    height: 50vmax;
}

.title-div {
    border-bottom: 2px solid #0d47a1;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.title-div > .titleP {
    font-size: 35px;
    color: #0d47a1;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2px;
}

.alertBlock {
    padding-left: 25px;
    color: #CC0000;
    margin-bottom: 2px;
    font-size: 35px;
}

#first-row-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}

.cardImage {
    padding: 0;
}

.cardImage > img {
    height: 250px;
    padding: 0;
}

.userData {
    padding-left: 100px;
    padding-right: 0;
    padding-top: 27px;
}

.userData > p {
    font-size: 25px;
    color: #333;
}

.dataOfUser {
    color: gray;
    font-style: italic;
}

.userbutton {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
}

.userbutton > button {
    margin-bottom: 5px;   
}

.buttonChangePassword {
    background: white;
    color: #0d47a1;
    border-color: #0d47a1;
}

.buttonChangePassword:hover {
    background: #0d47a1;
    color: white;
}

.buttonEditProfile {
    background: white;
    color: #0d47a1;
    border-color: #0d47a1;
}

.buttonEditProfile:hover {
    background: #0d47a1;
    color: white;
}

.buttonDelete {
    background: white;
    color: #CC0000;
    border-color: #CC0000;
}

.buttonDelete:hover {
    background: #CC0000;
    color: white;
}

.buttonBlock {
    background: white;
    color: gray;
    border-color: gray;
}

.buttonBlock:hover {
    background: gray;
    color: white;
}

/*----------edit-profile-form----------------------*/

.editProfile {
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    padding: 25px;
    border: 2px solid #0d47a1;
}

form > .form-row > .form-group > input {
    border-color: #0d47a1;
    box-shadow: none;
}

form > .form-group > input {
    border-color: #0d47a1;
    box-shadow: none;
}

form > .form-row > .form-group > select {
    border-color: #0d47a1;
    box-shadow: none;
    cursor: pointer;
}

form > .submitButton {
    background: #0d47a1;
    color: white;
    margin-right: 5px;
}

form > .submitButton:hover {
    background: #014bc2;
}

.message {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
}

/*--------change-password-------*/

.changePassword {
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    padding: 25px;
    border: 2px solid #0d47a1;
}