<app-header></app-header>
<div class="container col-md-8 main">
    <div class="title-div col-12">
      <p class="titleP">{{user.firstName}} {{user.lastName}}</p>
      <p class="alertBlock" *ngIf="messageBlock==true && role==true">-  User is blocked</p>
      <p class="alertBlock" *ngIf="messageBlock==true && role==false">-  You are blocked</p>
    </div>
    <div class="col-12" id="first-row-wrapper">
      <div class="cardImage col-3">
        <img class="col-12" [src]="user.imageUrl" alt="Photo by user">
      </div>
      <div class="userData col-6">
        <p>Username: <span class="dataOfUser">{{user.username}}</span></p>
        <p>Email: <span class="dataOfUser">{{user.email}}</span></p>
        <p>From: <span class="dataOfUser">{{user.placeDTO.name}}</span></p>
        <p *ngIf="user.role=='ROLE_USER'">Role: <span class="dataOfUser">User</span></p>
        <p *ngIf="user.role=='ROLE_ADMIN'">Role: <span class="dataOfUser">Admin</span></p>
      </div>
      <div class="userbutton col-3">
        <button type="button" class="btn btn-primary col-12 buttonChangePassword" *ngIf="isLogged==true && loggedUser.id==user.id && user.blocked==false && facebook==false" (click)="openChangePasswordForm()">Change password</button><br>
        <button type="button" class="btn btn-primary col-12 buttonEditProfile" *ngIf="isLogged==true && loggedUser.id==user.id && user.blocked==false || role==true" (click)="openEditProfileForm()">Edit profile</button>
        <button
            class="btn btn-danger col-12 buttonDelete"
            *ngIf="loggedUser.id!=user.id && role==true"
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            placement="right"
            (confirm)="deleteProfile()"
            (cancel)="cancelClicked = true">
            Delete profile
        </button>
        <button type="button" class="btn btn-secondary col-12 buttonBlock" *ngIf="isLogged==true && loggedUser.id!=user.id && role==true && user.blocked==false" (click)="block()">Block</button>
        <button type="button" class="btn btn-secondary col-12 buttonBlock" *ngIf="isLogged==true && loggedUser.id!=user.id && role==true && user.blocked==true" (click)="unblock()">Unblock</button>
      </div>
    </div>
    <div class="editProfile col-12" *ngIf="editProfileForm==true">
        <form (submit)="submit()" #f="ngForm">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" [(ngModel)]="user.username" name="username" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First name</label>
                    <input type="text" class="form-control" id="inputFirstName" [(ngModel)]="user.firstName" name="firstName" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last name</label>
                    <input type="text" class="form-control" id="inputLastName" [(ngModel)]="user.lastName" name="lastName" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" [(ngModel)]="user.email" name="email" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="selectPlace">Select place:</label>
                    <input class="form-control" id="selectPlace" list="list" [(ngModel)]="user.placeDTO.name" name="place">
                    <datalist id="list">
                        <option *ngFor="let place of listOfPlaces" [value]="place.name">{{place.name}}</option>
                    </datalist>
                </div>
            </div>
            <div *ngIf="messageAlert == true">
                <p class="message">The entered data is incorrect. Try again.</p>
            </div>
            <button type="submit" class="btn btn-primary submitButton" [disabled]="!f.valid">Submit</button>
            <button type="button" class="btn btn-light" (click)="closeEditProfileForm()">Cancel</button>
          </form>
    </div>
    <div class="changePassword col-12" *ngIf="changePasswordForm==true">
        <form #f="ngForm">
            <div class="form-group">
                <label for="inputPassword">New password</label>
                <input type="password" class="form-control" id="inputPassword" [(ngModel)]="passwordObject.password" name="password" placeholder="..." required>
            </div>
            <button type="button" class="btn btn-primary submitButton" [disabled]="!f.valid" (click)="submitNewPassword()">Submit</button>
            <button type="button" class="btn btn-light" (click)="closeChangePasswordForm()">Cancel</button>
        </form>
    </div>
  </div>
  <app-footer></app-footer>
