.main {
    border: 2px solid #0d47a1;
    padding: 0;
    margin-top: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-div {
    text-align: center;
    background-color: #0d47a1;
}

.title-div > p {
    font-size: 35px;
    color: white;
    padding: 5px;
}

.register {
    padding: 25px;
}

form > .form-row > .form-group > input {
    border-color: #0d47a1;
    box-shadow: none;
}

form > .form-row > .form-group > select {
    border-color: #0d47a1;
    box-shadow: none;
    cursor: pointer;
}

form > button {
    background: #0d47a1;
    color: white;
}

form > button:hover {
    background: #014bc2;
}

.message {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
}

.messageUser {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
}

#uploadPhoto {
    border-color: #0d47a1;
    box-shadow: none;
}

.text-error {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
    margin-bottom: 10px;
}