<app-header></app-header>
<div class="container col-md-6 main">
    <div class="title-div col-12">
        <p>Sign up</p>
    </div>
    <div class="register col-12">
        <form (submit)="submit()" #f="ngForm">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" [(ngModel)]="userObject.username" name="username" placeholder="..." required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" [(ngModel)]="userObject.password" name="password" placeholder="..." required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First name</label>
                    <input type="text" class="form-control" id="inputFirstName" [(ngModel)]="userObject.firstName" name="firstName" placeholder="..." required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last name</label>
                    <input type="text" class="form-control" id="inputLastName" [(ngModel)]="userObject.lastName" name="lastName" placeholder="..." required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" [(ngModel)]="userObject.email" name="email" placeholder="..." required 
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailref="ngModel" [class.success]="!emailref.invalid">
                </div>
                <div class="form-group col-md-6">
                    <label for="selectPlace">Select place:</label>
                    <input class="form-control" id="selectPlace" list="list" [(ngModel)]="userObject.placeDTO.name" name="place" placeholder="Start typing ...">
                    <datalist id="list">
                        <option *ngFor="let place of listOfPlaces" [value]="place.name">{{place.name}}</option>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label for="uploadPhoto">Profile Image</label>
                <input type="file" class="form-control" id="uploadPhoto" (change)="selectFile($event)" name="file">
            </div>
            <div>
                <p class="message" *ngIf="messageAlert == true">The entered data is incorrect. Try again.</p>
                <p class="messageUser" *ngIf="sameUser == true">Already exist user with this email. Please choose another.</p>
                <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="text-error">
                    Invalid email address
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
          </form>
    </div>
</div>
