<app-header></app-header>
<div class="container col-md-5 login-container">
    <div class="container social-login">
        <p class="ttitle">Login to universityEvents</p>
        <button class="buttonFace" (click)="goToFacebook()"><i class="fab fa-facebook-f"></i> Continue with Facebook</button>
    </div>
    <div class="container separator">
        <div class="line"></div>
        <div style="display:inline-block;">OR</div>
        <div class="line"></div>
    </div>
    <div class="container login">
        <form (submit)="submit()">
            <div class="form-group">
                <label for="inputUsername">Email</label>
                <input type="text" class="form-control" id="inputUsername" [(ngModel)]="loginModel.email" name="email" placeholder="..." required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" [(ngModel)]="loginModel.password" name="password" placeholder="..." required>
            </div>
            <div>
                <p class="message" *ngIf="messageAlert == true">The entered data is incorrect. Please try again.</p>
            </div>
            <button type="submit" class="btn btn-primary col-12 submitButton"><span>Log in</span></button>
        </form>
    </div>
</div>