.login-container {
    padding: 80px 20px 80px 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-login {
    text-align: center;
}

.buttonGoogle {
    width: 400px;
    margin-bottom: 10px;
    color: #007E33;
    background: white;
    border: 1px solid #007E33;
    font-size: 22px;
    border-radius: 5px;
    padding: 5px;
}

.fab {
    margin-right: 15px;
}

.buttonFace {
    width: 400px;
    margin-bottom: 10px;
    color: #014bc2;
    background: white;
    border: 1px solid #014bc2;
    font-size: 22px;
    border-radius: 5px;
    padding: 5px;
}

.buttonGoogle:hover {
    color: white;
    border: 1px solid #007E33;
    background: #007E33;
}

.buttonFace:hover {
    color: white;
    border: 1px solid #014bc2;
    background: #014bc2;
}

.separator {
    margin-top: 20px;
    width: 400px;
    padding: 0;
    text-align: center;
}

.line {
    width: 180px;
    height: 0;
    border: 1px solid #C4C4C4;
    margin: 3px;
    display:inline-block;
}

.login {
    width: 400px;
    padding: 0;
    margin-top: 30px;
}

form > .form-group > input {
    border-color: gray;
    box-shadow: none;
}

form > .submitButton {
    background: #0d47a1;
    color: white;
    margin-top: 10px;
    transition: all 0.5s;
    font-size: 20px;
}

form > .submitButton:hover {
    background: #014bc2;
}

.message {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
}

.ttitle {
    font-size: 25px;
}