<app-header></app-header>
<div class="container col-md-9" style="padding-left: 0; padding-right: 0; display: flex; margin-top: 15px;">
  <div class="col-6 search-box">
      <input class="col-9" type="text" [(ngModel)]="text" name="text" placeholder="Search ...">
      <button class="col-1 searchBB" (click)="search()"><i class="fas fa-search"></i></button>
      <button type="button" class="btn btn-success reload" *ngIf="reload==true" (click)="reloadAll()">Reload</button>
  </div>
  <div class="col-6 sort-wrapper">
      <select class="form-control selectName" [(ngModel)]="orderBy" name="orderBy">
          <option value="firstName">First Name</option>
          <option value="lastName">Last Name</option>
      </select>
      <select class="form-control selectBy" [(ngModel)]="orderCondition" name="orderCondition">
          <option value="asc">Asc</option>
          <option value="desc">Desc</option>
      </select>
      <button type="button" class="btn btn-primary" (click)="sort()">Sort <i class="fas fa-check"></i></button>
  </div>
</div>
<div class="container col-md-9 main">
  <div class="title-div col-12">
    <p>All confirmed arrivals</p>
  </div>
  <div class="showUsersData">
    <p class="message col-12" *ngIf="message==true">There are no users for this event.</p>
    <div class="showUD col-12" *ngFor="let object of usersWhoGoToEvent">
      <img class="col-4" [src]="object.userDTO.imageUrl" alt="Photo by user">
      <a href="#" [routerLink]="['/user', object.userDTO.id]">{{object.userDTO.firstName}} {{object.userDTO.lastName}}</a>
    </div>
  </div>
</div>
