.main {
    padding: 0;
    margin-top: 60px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.title-div {
    border-bottom: 2px solid #0d47a1;
    padding-left: 0;
    padding-right: 0;
}

.title-div > p {
    font-size: 35px;
    color: #0d47a1;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2px;
}

.showUsersData {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    text-align: center;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    
}

.showUD {
	-ms-flex: 33.3%; 
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    padding-left: 0;
    height: 130px;
}

.showUD:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.showUD > img {
    height: 90px;
}

.showUD > a {
    text-decoration: none;
    font-size: 28px;
    color: gray;
}

.showUD > a:hover {
    border-bottom: 2px solid gray;
}

.message {
    font-size: 45px;
    color: gray;
    text-align: center;
    padding-top: 50px;
}

/*---------sort and search---------*/

.search-box {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
}

.search-box > input {
    border: 1px solid #0d47a1;
    padding: 5px 10px 5px 15px;
    font-size: 18px;
    border-right: none;
    border-radius: 50px 0px 0px 50px;
}

.search-box > .searchBB {
    border: 1px solid #0d47a1;
    background: #0d47a1;
    padding: 8px 0px 5px 0px;
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    color: white;
}

.search-box > .searchBB:hover {
    color: white;
    background: gray;
    border-color: gray;
}

.reload {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 2px;
}

.sort-wrapper {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
}

.sort-wrapper > .selectName {
    width: 200px;
    box-shadow: none;
    cursor: pointer;
    margin-left: 6px;
}

.sort-wrapper > .selectBy {
    width: 100px;
    margin-left: 5px;
    box-shadow: none;
    cursor: pointer;
}

.sort-wrapper > button {
    margin-left: 5px;
    background: #0d47a1;
    color: white;
}

.sort-wrapper > button:hover {
    background: gray;
    border-color: gray;
}