.main {
    padding-top: 40px;
    height: 100vmax;
}

.card-wrapper {
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}

.cardImage {
    padding: 0;
}

.cardImage > img {
    height: 250px;
    padding: 0;
}

.cardData {
    height: 250px;
}

.title {
    color: #333;
    font-size: 30px;
    padding-top: 5px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.title:hover {
    color: #0d47a1;
}

.date {
    color: #333;
    margin-bottom: 3px;
}

.dateCreation {
    margin-bottom: 4px;
    color: gray;
    font-size: 12px;
}

.arrivals {
    margin-bottom: 3px;
}

.address {
    display: inline-flex;
    margin-bottom: 3px;
}

.place {
    padding-left: 5px;
    display: inline-flex;
    color: gray;
    margin-bottom: 3px;
}

.goingDiv {
    margin-top: 20px;
    border-top: 3px solid #0d47a1;
    display: flex;
}

.go-button {
    margin-top: 15px;
    background: #0d47a1;
    font-size: 23px;
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
}

.go-button:hover {
   background: gray;
   color: white;
}

.livePoint {
    animation: blinker 3s linear infinite;
    color: #CC0000;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .message {
    font-size: 45px;
    color: gray;
    text-align: center;
    padding-top: 50px;
}

.click-live {
    margin-top: 15px;
    background: #CC0000;
    font-size: 23px;
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
}

.click-live:hover {
    background: gray;
    color: white;
 }