<app-header></app-header>
<div class="container col-md-9 main">
    <div class="row card-wrapper col-12" *ngFor="let event of events">
        <div class="cardImage col-4">
            <img class="col-12" [src]="event.coverPhoto" alt="Photo by event">
        </div>
        <div class="cardData col-8">
            <a class="title" [routerLink]="['/event', event.id]">{{event.title}} <span class="livePoint"><i class="fas fa-circle"></i></span></a>
            <p class="dateCreation">*Published on {{dateParse(event.dateOfCreation)}}</p>
            <p class="date">Date and time: {{parseDate(event.date)}}</p>
            <p class="address">{{event.facultyDTO.name}}</p>
            <p class="place">,{{event.facultyDTO.universityDTO.name}}</p>
            <p class="arrivals">Number of confirmed arrivals: {{event.numberOfConfirmedArrivals}}</p>
            <div class="goingDiv">
                <a class="go-button" [routerLink]="['/event', event.id]">Show more</a>
                <a class="click-live" [routerLink]="['/live-stream', event.id]">Live stream</a>
            </div>
        </div>
    </div>
    <div>
        <p class="message" *ngIf="message==true">There are no live events!</p>
    </div>
</div>
<app-footer></app-footer>
