.search-box {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
}

.search-box > input {
    border: 1px solid #0d47a1;
    padding: 5px 10px 5px 15px;
    font-size: 18px;
    border-right: none;
    border-radius: 50px 0px 0px 50px;
}

.search-box > button {
    border: 1px solid #0d47a1;
    background: #0d47a1;
    padding: 8px 0px 5px 0px;
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    color: white;
}

.search-box > button:hover {
    color: white;
    background: gray;
    border-color: gray;
}

.reload {
    margin-top: 25px;
    margin-left: 10px;
}

.sort-wrapper {
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.sort-wrapper > .selectName {
    width: 200px;
    box-shadow: none;
    cursor: pointer;
    margin-left: 6px;
}

.sort-wrapper > .selectBy {
    width: 100px;
    margin-left: 5px;
    box-shadow: none;
    cursor: pointer;
}

.sort-wrapper > button {
    margin-left: 5px;
    background: #0d47a1;
    color: white;
}

.sort-wrapper > button:hover {
    background: gray;
    border-color: gray;
}

.main {
    padding-top: 40px;
    
}

.card-wrapper {
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}

.cardImage {
    padding: 0;
}

.cardImage > img {
    height: 250px;
    padding: 0;
}

.cardData {
    height: 250px;
}

.title {
    color: #333;
    font-size: 30px;
    padding-top: 5px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.title:hover {
    color: #0d47a1;
}

.date {
    color: #333;
    margin-bottom: 3px;
}

.dateCreation {
    margin-bottom: 4px;
    color: gray;
    font-size: 12px;
}

.arrivals {
    margin-bottom: 3px;
}

.address {
    display: inline-flex;
    margin-bottom: 3px;
}

.place {
    padding-left: 5px;
    display: inline-flex;
    color: gray;
    margin-bottom: 3px;
}

.goingDiv {
    margin-top: 20px;
    border-top: 3px solid #0d47a1;
    display: flex;
}

.go-button {
    margin-top: 15px;
    background: #0d47a1;
    font-size: 22px;
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    width: 170px;
    text-align: center;
}

.go-button:hover {
   background: #014bc2;
   color: white;
}

.go-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.go-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.go-button:hover span {
    padding-right: 25px;
}

.go-button:hover span:after {
    opacity: 1;
    right: 0;
}

.title-divv {
    border-bottom: 2px solid #0d47a1;
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
    margin-left: 190px;
    width: 1110px;
}

.title-divv > p {
    font-size: 35px;
    color: #0d47a1;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2px;
}

.message {
    padding-top: 80px;
    text-align: center;
    font-size: 50px;
    color: gray;
}