<app-header></app-header>
<div class="container col-md-9" style="padding-left: 0; padding-right: 0; display: flex; margin-top: 15px;">
  <div class="col-6 search-box">
      <input class="col-9" type="text" [(ngModel)]="text" name="text" placeholder="Search ...">
      <button class="col-1 searchBB" (click)="search()"><i class="fas fa-search"></i></button>
      <button type="button" class="btn btn-success reload" *ngIf="reload==true" (click)="reloadAll()">Reload</button>
  </div>
  <div class="col-6 sort-wrapper">
      <select class="form-control selectName" [(ngModel)]="orderBy" name="orderBy">
        <option value="username">Username</option>  
        <option value="firstName">First Name</option>
        <option value="lastName">Last Name</option>
        <option value="email">Email</option>
      </select>
      <select class="form-control selectBy" [(ngModel)]="orderCondition" name="orderCondition">
          <option value="ASC">Asc</option>
          <option value="DESC">Desc</option>
      </select>
      <button type="button" class="btn btn-primary" (click)="sort()">Sort <i class="fas fa-check"></i></button>
  </div>
</div>
<div class="container-fluid col-md-9 main">  
  <div class="table-wrapper col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Place</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users; let i = index">
        <tr>
          <th scope="row">{{i + 1}}</th>
          <td><a class="username-link" href="#" [routerLink]="['/user', user.id]">{{user.username}}</a></td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.placeDTO.name}}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <a class="buttonPage" id="{{page}}" *ngFor="let page of sumPages" name="{{page}}" (click)="nextPage($event)">{{page+1}}</a>
    </div>
  </div>
</div>
<app-footer></app-footer>