.main {
    height: 50vmax;
    padding-left: 0;
    padding-right: 0;
}

.table-wrapper {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
}

.table > thead {
    background: #0d47a1;
    color: white;
}

.table > tbody > tr {
    color: #333;
}

.table > tbody > tr:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.username-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.username-link:hover {
    color: #0d47a1;
}

.pagination {
    justify-content: center;
    margin-bottom: 30px;
}

.buttonPage {
    background: white;
    color: #0d47a1;
    border: 2px solid #0d47a1;
    margin-left: 5px; 
    font-size: 25px;
    padding: 1px 12px 1px 12px;
    cursor: pointer;
}

.buttonPage:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.active {
    background-color: #0d47a1;
    color: white;
}

/*--------------sort and search------------------*/
.search-box {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
}

.search-box > input {
    border: 1px solid #0d47a1;
    padding: 5px 10px 5px 15px;
    font-size: 18px;
    border-right: none;
    border-radius: 50px 0px 0px 50px;
}

.search-box > .searchBB {
    border: 1px solid #0d47a1;
    background: #0d47a1;
    padding: 8px 0px 5px 0px;
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    color: white;
}

.search-box > .searchBB:hover {
    color: white;
    background: gray;
    border-color: gray;
}

.reload {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 2px;
}

.sort-wrapper {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
}

.sort-wrapper > .selectName {
    width: 200px;
    box-shadow: none;
    cursor: pointer;
    margin-left: 6px;
}

.sort-wrapper > .selectBy {
    width: 100px;
    margin-left: 5px;
    box-shadow: none;
    cursor: pointer;
}

.sort-wrapper > button {
    margin-left: 5px;
    background: #0d47a1;
    color: white;
}

.sort-wrapper > button:hover {
    background: gray;
    border-color: gray;
}