.main {
    padding: 0;
    margin-top: 60px;
}

.title-div {
    border-bottom: 2px solid #0d47a1;
    padding-left: 0;
    padding-right: 0;
}

.title-div > .title {
    font-size: 35px;
    color: #0d47a1;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2px;
    display: inline-flex;
}

.edit-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 100px;
}

.subtitle {
    font-size: 20px;
    color: gray;
    display: inline-flex;
    padding-left: 20px;
    margin-bottom: 0;
}

form > .form-row > .form-group > input {
    border-color: #0d47a1;
    box-shadow: none;
}

form > .form-group > textarea {
    border-color: #0d47a1;
    box-shadow: none;
}

form > .form-row > .form-group > select {
    border-color: #0d47a1;
    box-shadow: none;
    cursor: pointer;
}

form > button {
    background: #0d47a1;
    color: white;
    font-size: 20px;
}

form > button:hover {
    background: #014bc2;
}

.message {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
}