<app-header></app-header>
<div class="container col-md-9 main">
  <div class="title-div col-12">
    <p class="title">Edit event</p>
    <p class="subtitle">(# {{event.title}})</p>
  </div>
  <div class="edit-wrapper col-12">
    <form (submit)="submit()" #f="ngForm">
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputTitle">Title</label>
                <input type="text" class="form-control" id="inputTitle" [(ngModel)]="event.title" name="title" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputInstructor">Instructor</label>
                <input type="text" class="form-control" id="inputInstructor" [(ngModel)]="event.instructor" name="instructor" required>
            </div>
        </div>
        <div class="form-group">
          <label for="inputDescription">Description</label>
          <textarea class="form-control" id="inputDescription" rows="3" [(ngModel)]="event.description" name="description" required></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputDate">Start Date <span>- {{parseDate(event.date)}} (Please enter new date...)</span></label>
                <input type="datetime-local" class="form-control" id="inputDate" [(ngModel)]="date" name="date" required />
            </div>
            <div class="form-group col-md-6">
              <label for="selectPlace">Select institution:</label>
              <input class="form-control" id="selectPlace" list="list" [(ngModel)]="event.facultyDTO.name" name="faculty">
              <datalist id="list">
                  <option *ngFor="let faculty of faculties" [value]="faculty.name">{{faculty.name}}</option>
              </datalist>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEndDate">End Date <span>- {{parseDate(event.endTime)}} (Please enter new date...)</span></label>
              <input type="datetime-local" class="form-control" id="inputEndDate" [(ngModel)]="endDate" name="endDate" required />
            </div>
        </div>
        <div *ngIf="messageAlert == true">
            <p class="message">The entered data is incorrect. Try again.</p>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </form>
  </div>
</div>
<app-footer></app-footer>
