<app-header></app-header>
<div class="container col-md-8 main">
  <div class="title-div col-12">
      <p>New event</p>
  </div>
  <div class="adding-wrapper col-12">
      <form (submit)="submit()" #f="ngForm">
          <div class="form-row">
              <div class="form-group col-md-8">
                  <label for="inputTitle">Title</label>
                  <input type="text" class="form-control" id="inputTitle" [(ngModel)]="event.title" name="title" placeholder="..." required>
              </div>
              <div class="form-group col-md-4">
                  <label for="inputInstructor">Instructor</label>
                  <input type="text" class="form-control" id="inputInstructor" [(ngModel)]="event.instructor" name="instructor" placeholder="..." required>
              </div>
          </div>
          <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea class="form-control" id="inputDescription" rows="3" [(ngModel)]="event.description" name="description" placeholder="..." required></textarea>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="inputDate">Start Date</label>
                  <input type="datetime-local" class="form-control" id="inputDate" [(ngModel)]="date" name="date" required />
              </div>
              <div class="form-group col-md-6">
                <label for="selectPlace">Organization</label>
                <input type="text" class="form-control" id="selectPlace" [(ngModel)]="event.facultyDTO.name" name="faculty" list="list" placeholder="Start typing ...">
                <datalist id="list">
                  <option *ngFor="let f of faculties" [value]="f.name">{{f.name}}</option>
                </datalist>
              </div>
              <div class="form-group col-md-6">
                <label for="inputDate">End Date</label>
                <input type="datetime-local" class="form-control" id="inputDate" [(ngModel)]="endDate" name="endDate" required />
              </div>
              <div class="form-group col-md-6">
                <label for="uploadPhoto">Photo</label>
                <input type="file" class="form-control" id="uploadPhoto" (change)="selectFile($event)" name="file">
              </div>
          </div>
          <div>
              <p class="message" *ngIf="messageAlert == true" >The date of the event must be higher then the current date. (And end time of event must be higher then start time of event) Try again.</p>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </form>
  </div>
</div>
<app-footer></app-footer>