.main {
    padding: 0;
    margin-top: 60px;
    padding-bottom: 40px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.title-div {
    border-bottom: 2px solid #0d47a1;
    padding-left: 0;
    padding-right: 0;
}

.title-div > p {
    font-size: 35px;
    color: #0d47a1;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2px;
}

.adding-wrapper {
    padding: 25px;
    padding-left: 0;
    padding-right: 0;
}

form > .form-row > .form-group > input {
    border-color: #0d47a1;
    box-shadow: none;
}

form > .form-group > textarea {
    border-color: #0d47a1;
    box-shadow: none;
}

form > .form-row > .form-group > select {
    border-color: #0d47a1;
    box-shadow: none;
    cursor: pointer;
}

form > button {
    background: #0d47a1;
    color: white;
    font-size: 20px;
}

form > button:hover {
    background: #014bc2;
}

.message {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
}